1)  int abs_val(double x) {
if (x > 0)
  return x;
  else
  return -x;
  }
  
  
  2) takes in three arguments and if a is equal to b, or b is equal to c it
  will return a value but if there is an error, the programme stops.
  
  3)the programme will print the integers 9 and 11
  
  
  4)int main()
  
{
int div;
int num;

printf
("enter any number under 10")
scanf ("%d", &num);

if (num ==1,2,3,5,7,9)
  printf ("this is a prime number);
  
      else
  if( num==4,6,8)
  printf("this number is not prime
